
body { /*css del body de la pagina*/
    font-family: Arial, sans-serif; 
    background-color: #181818; 
    color: #e0e0e0;
    padding: 10px; /*relleno alrededor de la pagina*/
}
#Creed { /*css del ID Creed*/
    text-align: center; 
    font-size: 50px;    
}

h1, h2 { /*css del h1 y h2*/
    color: #e67e22; 
}

nav { /*css del nav*/
    background-color: #2c3e50;
    padding: 10px;
}

nav ul { /*css de la lista dentro de la etiqueta nav*/
    list-style-type: none; /*estilo de la lista este hace que no tenga los puntos delante*/
    padding: 0;
    margin: 0;
    display: flex; /*para que se vea horizontal el menu*/
}
ol li a{/*css de la lista personajes principales*/
    color: #1332cd;
    text-decoration: none; /*para quitar el texto subrayado*/
}
nav ul li a { /*css del ID Creed*/
    color: #ecf0f1;
    padding: 10px 15px;
    
}
section { /*css del section*/
    margin-top: 10px; /*separacion de las imagenes*/
    padding: 10px;
    background-color: #131518;
}
table { /*css de la tabla*/
    width: 90%; /*ancho de la tabla*/
    margin-top: 30px;
}

th, td {
    border: 1px solid #444; /*bordes de la tabla con su acho y color*/
}

th { /*css de la etiqueta th*/
    background-color: #e67e22;
}

legend { /*css del legend del forms*/
    color: rgb(240, 165, 26);
    font-size: 20px;
    font-family: 'Georgia', serif;
}

button { /*css de los botones*/
    background-color: #e67e22;
    color: white;
    padding: 6px 10px;
}
ul li a{ /*css de la lista con mas informacion*/
    color: #1332cd;
    text-decoration: none;
}
